* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: poppins;
    /* color: aquamarine; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Poppins/Poppins-Medium.woff')format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2')format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Poppins/Poppins-Regular.woff2')format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Poppins/Poppins-Light.woff')format('woff');
}



:root {
    --color_fff: #fff;
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
}

.text_danger {
    color: var(--color_C90000)
}

.main_header {
    margin-top: 16px
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 8px;
}

.navigation {
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

.navigation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 400;
}

.navigation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navigation ul li a {
    font-weight: 500;
}

.link_navigation a {
    border: 1px solid var(--color_C90000);
    border-radius: 100px;
    padding: 9px 16px;
    font-size: 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.link_navigation a:first-child {
    font-weight: 400;
    color: var(--color_C90000);
}

.link_navigation a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

#close_icon {
    display: none;
    color: var(--color_7D7C7C);
}

.nav_menue_sidebar {
    flex-direction: column;
    position: fixed;
    left: 0;
    border-color: var(--color_fff);
    height: 100%;
    top: 40;
    padding: 16px;
    width: 200px;
    transform: translateX(-384px);
    -webkit-transform: translateX(-384px);
    -moz-transform: translateX(-384px);
    -ms-transform: translateX(-384px);
    -o-transform: translateX(-384px);
    border-right: 1px solid red;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}


#input_menue:checked+label+ul {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#input_menue:checked+label #burger {
    display: none;
}

#input_menue:checked+label #close_icon {
    display: inline;
}

.header_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.content_left_header_bottom {
    align-self: center;
}

.content_left_header_bottom h1 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
}

.content_left_header_bottom p {
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 25PX;
    max-width: 77%;
}

.order_food {
    margin-top: 48px;
}

.text_price {
    color: var(--color_323232);
    margin-bottom: 16px;
}

.text_price span:first-child {
    font-size: 16px;
    font-weight: 300;
}

.text_price span:last-child {
    font-size: 24px;
    font-weight: 500;
}





.action_order {
    display: flex;
    justify-content: space-between;
    max-width: 79%;
}