* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: poppins;
    padding: 8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Poppins/Poppins-Medium.woff')format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2')format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Poppins/Poppins-Regular.woff2')format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Poppins/Poppins-Light.woff')format('woff');
}



:root {
    --color_fff: #fff;
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
    --color_rgb241: rgba(241, 241, 241, 0.70);
    --color_rgb_112: rgba(112, 144, 176, 0.20);
    --color_rgb241-040: rgba(241, 241, 241, 0.40);

}

.img {
    width: 100%;
}

.text_danger {
    color: var(--color_C90000)
}

.main_header {
    margin-top: 16px
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 8px;
}

.navigation {
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

.navigation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 400;
}

.navigation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navigation ul li a {
    font-weight: 500;
}

.link_navigation a {
    border: 1px solid var(--color_C90000);
    border-radius: 100px;
    padding: 9px 16px;
    font-size: 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.link_navigation a:first-child {
    font-weight: 400;
    color: var(--color_C90000);
}

.link_navigation a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

#close_icon {
    display: none;
    color: var(--color_7D7C7C);
}

.nav_menue_sidebar {
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: var(--color_fff);
    height: 100%;
    top: 0;
    padding: 16px;
    z-index: 100;
    width: 200px;
    transform: translateX(-384px);
    -webkit-transform: translateX(-384px);
    -moz-transform: translateX(-384px);
    -ms-transform: translateX(-384px);
    -o-transform: translateX(-384px);
    border-right: 1px solid var(--color_504F4F);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}


#input_menue:checked+label+ul {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#input_menue:checked+label #burger {
    display: none;
}

#input_menue:checked+label #close_icon {
    display: inline;
}

.header_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content_left_header_bottom {
    align-self: center;
    /* width: 86%; */
}

.content_right_header_bottom {
    position: relative;
}

.content_right_header_bottom img {
    width: 100%;
}

.fixed_box_delivery {
    position: absolute;
    top: 5rem;
    left: -10rem;
    border: 1px solid var(--color_F1F1F1);
    background-color: var(--color_rgb241-040);
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 50px;
    -webkit-border-radius: 50px 50px 0 50px;
    -moz-border-radius: 50px 50px 0 50px;
    -ms-border-radius: 50px 50px 0 50px;
    -o-border-radius: 50px 50px 0 50px;
}

.fixed_box_delivery>span {
    display: inline-block;
    margin-top: 6px;
    font-size: 16px;
    color: var(--color_7D7C7C);
    font-weight: 400;
}

.fixed_box_delivery div {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 36px;
}

.fixed_box_delivery div span {
    color: var(--color_323232);
    font-size: 32px;
    font-weight: 400;
    margin-left: 5px;
    line-height: 24px;
}


.content_left_header_bottom h1 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
}

.content_left_header_bottom p {
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 25PX;
    max-width: 77%;
}

.order_food {
    margin-top: 48px;
}

.text_price {
    color: var(--color_323232);
    margin-bottom: 16px;
}

.text_price span:first-child {
    font-size: 16px;
    font-weight: 300;
}

.text_price span:last-child {
    font-size: 24px;
    font-weight: 500;
}



.action_order {
    display: flex;
    justify-content: space-between;
    max-width: 79%;
}

.button_action_order {
    border: 1px solid var(--color_rgb241);
    background-color: var(--color_fff);
    padding: 8px 16px;
    box-shadow: 0px 20px 20px 0px var(--color_rgb_112);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 41%;
    gap: 12px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.button_action_order button {
    border: none;
    background-color: transparent;
}

.button_action_order span {
    color: var(--color_FFC300);
    font-size: 20px;
    font-weight: 500;

}

.button_action_order span::after,
.button_action_order span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color_rgb241);
}

.button_action_order span::after {
    margin-left: 12px;

}

.button_action_order span::before {
    margin-right: 12px;
}

.action_order>button {
    background-color: var(--color_FFC300);
    box-shadow: 0px 20px 20px 0px var(--color_rgb241);
    border: none;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    /* width: 189px;
    height: 62px; */
    color: var(--color_323232);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.action_order>button img {
    margin-right: 5px;
    margin-bottom: 3px;
    width: auto;
}

.row_title_section_food h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: var(--color_C90000);
    position: relative;
}

.line_bottom_row_title {
    width: 137px;
    height: 9px;
    background-color: var(--color_FFF6A3);
    position: absolute;
    top: 48px;
    z-index: -1;
}

.row_button_category {
    margin-top: 32px;
    display: grid;
    grid-auto-columns: 179px;
    grid-auto-flow: column;
    overflow: auto;
    column-gap: 20px;
}

.row_button_category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 20px;
    column-gap: 8px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.button_active_category{
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-weight: 600 !important;
}